{% extends 'base.html' %} {% block title %}
{% load static %}
<title> {{blog.meta_title}}</title>
<meta name="description" content="{{blog.meta_description}}" />
<meta name="keywords" content="{{blog.meta_keyword}}" />
{% endblock title %} {% block content %}
<style>
     #head-form-div{
                background-image:url(/static/img/Blues.webp) ;
        }
        #down-home {
            background-image: linear-gradient(20deg,rgba(105, 11, 66, 1),rgba(152, 26, 100, 1),rgba(199, 79, 75, 1),rgba(181, 91, 46, 1)) !important;

 margin: auto;
  }
       .bannerSp{
			background-image: url(/static/img/blog-banner.webp);
	
		}
  .blog__text_content a{
    color: #5F7E08 !important;
    display: inline !important;
  }
  .blog__text_content a:hover{
    text-decoration: underline !important;
  }
  .bannerSp__imageWrapper_right{
          margin: 25% auto ;
          }
  @media (max-width:993px){
          .bannerSp__imageWrapper_right{
                  margin: unset !important;
          }
  }
</style>
<br><br>
<section id="head-form-div" >
    <section >
         
    <div  style="margin-top: 25px !important;" class="container">
    
          <div  id="landingContact-Text" class="row">
            
          
       <div style="margin: auto;"> 
             <div  style="background-color: #45295C; float: none !important; padding: 25px; border-radius: 5px; margin: auto;" class="col-md-5 col-12">
                           <div class="alert alert-success hidden" id="contactSuccess">
                            <strong>Success!</strong> Your message has been sent to us.
                          </div>
          
                          <div class="alert alert-danger hidden" id="contactError">
                            <strong>Error!</strong> There was an error sending your message.
                          </div>
          
                          <form action="{% url 'core:home' %}" method="POST" id="contactForm">
                                  {% csrf_token %}
                            <div class="row">
                                  
                                  <div class="form-group">
                                    <div class="col-md-12">
                                           <input
                                            type="text"
                                            value=""
                                            data-msg-required="Please enter your name."
                                            maxlength="100"
                                            class="form-control mb-20 form-control_name contact__input contact__input_input contact__input_name"
                                            placeholder="Fullname"
                                            name="name"
                                            id="name"
                                            required
                                          />
                                    </div>
                                    <div class="col-md-12">
                                           <input
                                            type="email"
                                            value=""
                                            data-msg-required="Please enter your email address."
                                            data-msg-email="Please enter a valid email address."
                                            maxlength="100"
                                            class="form-control mb-20 contact__input contact__input_input"
                                            name="email"
                                            placeholder="Email address"
                                            id="email"
                                            required
                                          />
                                    </div>
                                  </div>
                            </div>
                            <div class="row">
                                  <div class="form-group">
                                    <div class="col-md-12">
                                            <div class="phone-container">
                                                  <span class="mb-20 phone-addon">+1</span>
                                                  <input 
                                                  type="number"
                                                  value=""
                                                  pattern="[1-9]"
                                                  onKeyDown="{checkIfNumber(event)}"
                                                  data-msg-required="Please enter the subject."
                                                  maxlength="10"
                                                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                  class="form-control mb-20 contact__input contact__input_phone contact__input_input"
                                                  name="phone"
                                                  id="phone"
                                                  placeholder="Phone"
                                                  required
                                                    />
                                          <div id="phone-error" class="error-message"></div>
                                          </div>
                                    </div>
    
                                     <div class="col-md-12">
                                          <select
                                            data-msg-required="Please enter the subject."
                                           maxlength="100"
                                           class="form-control mb-20 contact__input contact__input_input contact__input_select"
                                           name="subject"
                                           id="subject"
                                           placeholder="Subject"
                                           required>
                             <option class="d-none" value="" disabled selected>Are you looking for?</option>
                            <option value="Player">Player</option>
                            <option value="Distribution">Distribution</option>
                            <option value="New Shop">New Shop</option>
                            <option value="Existing Shop">Existing Shop</option> 
                                    </select>
                                   </div>
                                  </div>
                            </div>
                            <div class="row">
                                  <div class="form-group">
                                    <div class="col-md-12">
                                           <textarea
                                            maxlength="5000"
                                            data-msg-required="Please enter your message."
                                            rows="10"
                                            class="form-control contact__input"
                                            name="message"
                                            id="message"
                                            placeholder="Message"
                                            style="height: 145px;"
                                          ></textarea>
                                    </div>
                                  </div>
                            </div>
                            
                            <div class="terms">
                                  <input name="check" required  class="terms__checkbox contact__input" id="checkbox1"  type="checkbox"/>
                                  <label class="terms__label" for="checkbox1" style="font-size: 12px !important;">Subscription agreement and <a class="terms__anchor"  href="{% url 'main:terms-and-conditions' %}" >Terms and conditions</a>  agreement</label>
                                  
                                  </div>
                          <div class="rechapta d-none">
                                   <div  class="g-recaptcha"  data-callback="recaptchaCallback" data-sitekey="6Lf7dxUpAAAAAL1I75UwHCQM_gxQavITFxXqCpIk"></div>
                          </div>

                            <div class="row">
                                  <div class="col-md-12 d-flex justify-content-center">
                                          <button
                                          style="width: 100% !important;"
                                          type="submit"
                                          disabled
                                          value="Send Message"
                                           class="btn btn-primary btn-lg btn-lg_sp btn__disabled"
                                          data-loading-text="Loading..."
                                    
                                    >Submit</button>
                                  </div>
                            </div>
                           </form>
                  </div>	







       </div>


          
           
          
    </div>
    <br><br><br>
    <h1 style="color: white; text-align: center;">
      {{blog.title}}
    </h1>
    </section>
    
</section>
  <div class="container relative">
    
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="blog__tit">{{blog.title}}</h2>
		<h2 class="categories__a">{{blog.category.title}} </h2>
        <img class="blog__imgg" src="{{blog.image.url}}" alt="" alt="" />

        <p class="blog__text">{{blog.short_description}}</p>

 		<div id="toc" class="blog__text_content ">{{blog.content | safe}}</div>
     <div class="tags__mobile">


      <h2 class="tags__header">Post tags</h2>
      <div class="tags">
        {% for tag in blog.tag.all %}
        <a href="{% url 'main:blog-tag-list' tag.slug %}" class="tags__anchor">{{tag.title}}</a>
      {% endfor %}
      </div>
    </div>
       </div>
      <div class="col-12 col-md-3 categories__coll">
        <div class="categories">
          <h2 class="categories__title tags__desktop">Recent posts</h2>

          {% for recent in recent_blogs %}
          <div class="recet tags__desktop">
          <a href="{% url 'main:blog-detail' slug=recent.slug %}">
           <h3 class="postt__title">{{recent.title}}</h3>
           <p class="recet__text">
            {{recent.created_at}}
            </p>
          </a>
          </div>
         {% endfor %}

        </div>

		<div class="position"></div>
           <div class="categories categories__table">
            <h2 class="categories__title">Content table</h2>

            <ul class="categories__ul">
            
            </ul>
          </div>
       </div>
    </div>

 
<div class="tags__desktop">
      <h2 class="tags__header">Post tags</h2>
    <div class="tags">
      {% for tag in blog.tag.all %}
      <a href="{% url 'main:blog-tag-list' tag.slug %}" class="tags__anchor">{{tag.title}}</a>
    {% endfor %}
    </div>
  </div>
    <br />
    <br />

    {% if related_blogs %}
    <h2 class="tags__header">Relative posts</h2>


    <div class="row">

      {% for blog in related_blogs %}
      <div class="col-12 col-md-4 blogItemWrapper">
        <div class="blogItem">
          <img src="{{blog.image.url}}" alt="" class="blogItem__img" />

          <div class="postt__content">
            <h3 class="postt__title">{{blog.created_at}}</h1>
            <h3 class="postt__title2 blogItem__title2">{{blog.title}}</h1>
            <p class="postt__text blogItem__text">
             {{blog.short_description}}
            </p>

            <a href="{% url 'main:blog-detail' blog.slug %}" class="btn postt__btn">Read </a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      <h2 class="categories__title tags__mobile">Recent posts</h2>

      {% for recent in recent_blogs %}
      <div class="recet tags__mobile">
      <a href="{% url 'main:blog-detail' slug=recent.slug %}">
       <h3 class="postt__title">{{recent.created_at}}</h1>
       <p class="recet__text">
         {{recent.title}}
        </p>
      </a>
      </div>
      {% endfor %}



	  
    </div>
  </div>
</div>



  



 

<script src="{% static 'js/customBlogs.js' %}"></script>


{% endblock %}
