{% extends 'base.html' %}

{% block title %}
			
        <title>Contact Us at gamevaultcasino Casino to Get The Best Deals</title>
        <meta name="keywords" content={{contact_content.meta_keywords}}>
        <meta name="description" content={{contact_content.meta_description}}>
{% endblock title %}


{% block content %}
<style>
           #head-form-div{
                background-image:url(/static/img/PinkAbout.webp) ;
        }
</style>
<br>
<br>
<section id="head-form-div" >
        <section >
			 
        <div  style="margin-top: 25px !important;" class="container">
        
              <div  id="landingContact-Text" class="row">
                
              
           <div style="margin: auto;"> 
                 <div  style="background-color: #45295C; float: none !important; padding: 25px; border-radius: 5px; margin: auto;" class="col-md-5 col-12">
                               <div class="alert alert-success hidden" id="contactSuccess">
                                <strong>Success!</strong> Your message has been sent to us.
                              </div>
              
                              <div class="alert alert-danger hidden" id="contactError">
                                <strong>Error!</strong> There was an error sending your message.
                              </div>
              
                              <form action="{% url 'core:home' %}" method="POST" id="contactForm">
                                      {% csrf_token %}
                                <div class="row">
                                      
                                      <div class="form-group">
                                        <div class="col-md-12">
                                               <input
                                                type="text"
                                                value=""
                                                data-msg-required="Please enter your name."
                                                maxlength="100"
                                                class="form-control mb-20 form-control_name contact__input contact__input_input contact__input_name"
                                                placeholder="Fullname"
                                                name="name"
                                                id="name"
                                                required
                                              />
                                        </div>
                                        <div class="col-md-12">
                                               <input
                                                type="email"
                                                value=""
                                                data-msg-required="Please enter your email address."
                                                data-msg-email="Please enter a valid email address."
                                                maxlength="100"
                                                class="form-control mb-20 contact__input contact__input_input"
                                                name="email"
                                                placeholder="Email address"
                                                id="email"
                                                required
                                              />
                                        </div>
                                      </div>
                                </div>
                                <div class="row">
                                      <div class="form-group">
                                        <div class="col-md-12">
                                                <div class="phone-container">
                                                      <span class="mb-20 phone-addon">+1</span>
                                                      <input 
                                                      type="number"
                                                      value=""
                                                      pattern="[1-9]"
                                                      onKeyDown="{checkIfNumber(event)}"
                                                      data-msg-required="Please enter the subject."
                                                      maxlength="10"
                                                      oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                      class="form-control mb-20 contact__input contact__input_phone contact__input_input"
                                                      name="phone"
                                                      id="phone"
                                                      placeholder="Phone"
                                                      required
                                                        />
                                              <div id="phone-error" class="error-message"></div>
                                              </div>
                                        </div>
        
                                         <div class="col-md-12">
                                              <select
                                                data-msg-required="Please enter the subject."
                                               maxlength="100"
                                               class="form-control mb-20 contact__input contact__input_input contact__input_select"
                                               name="subject"
                                               id="subject"
                                               placeholder="Subject"
                                               required>
                                 <option class="d-none" value="" disabled selected>Are you looking for?</option>
                                <option value="Player">Player</option>
                                <option value="Distribution">Distribution</option>
                                <option value="New Shop">New Shop</option>
                                <option value="Existing Shop">Existing Shop</option> 
                                        </select>
                                       </div>
                                      </div>
                                </div>
                                <div class="row">
                                      <div class="form-group">
                                        <div class="col-md-12">
                                               <textarea
                                                maxlength="5000"
                                                data-msg-required="Please enter your message."
                                                rows="10"
                                                class="form-control contact__input"
                                                name="message"
                                                id="message"
                                                placeholder="Message"
                                                style="height: 145px;"
                                              ></textarea>
                                        </div>
                                      </div>
                                </div>
                                
                                <div class="terms">
                                      <input name="check" required  class="terms__checkbox contact__input" id="checkbox1"  type="checkbox"/>
                                      <label class="terms__label" for="checkbox1" style="font-size: 12px !important;">Subscription agreement and <a class="terms__anchor"  href="{% url 'main:terms-and-conditions' %}" >Terms and conditions</a>  agreement</label>
                                      
                                      </div>
                              <div class="rechapta d-none">
                                       <div  class="g-recaptcha"  data-callback="recaptchaCallback" data-sitekey="6Lf7dxUpAAAAAL1I75UwHCQM_gxQavITFxXqCpIk"></div>
                              </div>

                                <div class="row">
                                      <div class="col-md-12 d-flex justify-content-center">
                                              <button
                                              style="width: 100% !important;"
                                              type="submit"
                                              disabled
                                              value="Send Message"
                                               class="btn btn-primary btn-lg btn-lg_sp btn__disabled"
                                              data-loading-text="Loading..."
                                        
                                        >Submit</button>
                                      </div>
                                </div>
                               </form>
                      </div>	

   





           </div>


              
               
              
        </div>
        <br><br><br>
        <h1 style="color: white; text-align: center;">
          Contact
        </h1>
        </section>
        
</section>
    <br><br><br>
<div class="container">
<div role="main" class="main">
	{{ contact_content.content|safe }}
</div>
</div>

{% endblock %}

