{% extends 'base.html' %}

{% block title %}
			
        <title>Games Islands Contact</title>
{% endblock title %}


{% block content %}



<div class="container">

  <p class="contact__text">
    If you're considering starting a casino business, we'd love to hear from you.

We understand how intimidating it can be when you're just getting started. That's why we want to help make this process easier for you!

Let us know if you have any questions or concerns. We'll be happy to answer anything that comes up!
   </p>
 </div>


{% endblock %}

