{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <script src="https://kit.fontawesome.com/c3726104d6.js" crossorigin="anonymous" defer></script> -->

<!-- The Modal -->
<!-- <div id="myModal" class="modal">
Modal content
  <div class="modal-content">
    <span class="close">&times;</span>
    <a target="_blank" href="https://bitbetwin.cc/registration/">
      <picture>
        <source type="image/webp" srcset="{% static 'img/bbw-signup-5.webp' %}" />
        <img src="{% static 'img/bbw-signup-5.png' %}" alt="photo"> 
      </picture>	
    </a>
  </div>
</div> -->
<style>
  .view-div:hover{
    box-shadow: 0 0 10px #FDB92F;
  }
  .view-div:hover>a>p{
color:#FDB92F !important;
  }
  .view-div:hover>a>p>img{
transform: translateX(50%);
filter: drop-shadow(0px 0px #FDB92F );
  }
  .owl-controls{
  margin-bottom: 10px;
  }
  .owl-prev{
    background-color: #45295C !important;
  }
  .owl-next{
    background-color: #45295C !important;
  }
  .owl-buttons div:hover{
 background-color: #762bb4 !important;
 box-shadow: 0 0 10px #FDB92F !important;
 transform: scale(1.2) !important;
  }
  .view-div{
    cursor: pointer;
  }
  .games-wrapper {

    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3% auto;
    flex-wrap: wrap;
  }

  .game-item {
margin: auto 5px ;
    /* height: 279.600px; */
    /* box-shadow: -3.828px -3.828px 6px 0 rgb(255 200 39 / 40%), 3px 5px 8px 0 rgb(255 82 1 / 20%); */
    border: 2px solid rgb(255, 191, 0);
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10 solid gold;
    text-align: center;
    /* left: 50%;
      transform: translateX(-50%); */
    border-radius: 20px;
    background: inherit;
    position: relative;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
  }

  .game-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(69, 41, 92, 1);
    opacity: .9;
    box-sizing: border-box;
  }

  .game-item .game-inner {

    position: relative;
    z-index: 1;
  }

  .game-item__thumb {
    width: inherit;
    /* height: 140px; */
    margin: 0 auto 25px;
    border: 1px solid rgba(255, 255, 255, .17);
    border-radius: 7px;
    background: inherit;
    /* padding: 10px; */
  }

  .game-item__thumb img {

    width: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
  }



  .game-content h4 {
    font-size: 20px;
    font-family: inherit;
    text-align: left;
    line-height: 30px;
    padding: 0 10px;
  }

  .game-item:hover {
    box-shadow: -3.828px -3.828px 6px 0 rgb(255, 191, 0), 3px 5px 8px 0 rgb(255, 191, 0);
  }

  @media (min-width: 1700px) {
    .games-wrapper {
      width: 100%;
    }

  }

  @media (max-width: 1200px) {
    .games-wrapper {
      width: 100%;
    }

  }

  @media only screen and (max-width: 1000px) {
    .games-wrapper {
      width: 100%;
      display: flex;
    }
    .main-div{
    width: 100% !important;
    margin:35px auto !important;
  }

 

  }

  @media only screen and (max-width: 760px) {
    .games-wrapper {
      width: 100%;
      display: flex;
    }
    h1{
      line-height: 40px !important;
    }
  }

  @media only screen and (max-width: 400px) {
    .games-wrapper {
      width: 100%;
      display: flex;
    }

  }
</style>
<style>
  .embed-youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
  }

  .embed-youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
  }

  .bannerSp {
    background-image: url(/static/img/MainBg.webp);
    background-position: center;
    background-size: 100% 100%;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .embed-youtube .embed-youtube-play {
    width: 68px;
    height: 48px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
  }

  .embed-youtube .embed-youtube-play:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
  }

  .embed-youtube img,
  .embed-youtube .embed-youtube-play {
    cursor: pointer;
  }

  .embed-youtube img,
  .embed-youtube iframe,
  .embed-youtube .embed-youtube-play,
  .embed-youtube .embed-youtube-play:before {
    position: absolute;
  }

  .embed-youtube .embed-youtube-play,
  .embed-youtube .embed-youtube-play:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .main-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

  }

  .outer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }

  .double-flex {
    width: 47.3%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 15px 15px;
  }
  .double-flex:hover{
    background-color: #45295C;
  }

 .inner-img-divv{
  text-align: center;
 }
 .inner-img-divv img{
  width: 90px;
  height: 90px;
 }

  .double-flex h3,p {
    padding: 5px 0;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .inner-flex {
    width: 33%;
    margin: 10px;
    padding: 15px 15px;
background-image: url(/static/img/cardForText.webp);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 0 15px lightblue;
  }

  .inner-flex div {
    margin: 10px 0;
  }
  .inner-flex h3, p{
    text-align: center;
  }

  .embed-youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .inner-img-div div{
    border-radius: 5px;
    margin: auto;
    padding: 15px;
    width: max-content;
    background-image: linear-gradient(270deg, rgba(24, 41, 84, 1),rgba(42, 77, 130, 1),rgba(80, 123, 188, 1),rgba(59, 173, 172, 1));

  }

  .embed-youtube .embed-youtube-play:hover {
    background-color: #f00;
  }

  .customButton:hover {
    background: linear-gradient(to right, rgb(170, 1, 186), rgb(231, 20, 0)) !important;
    color: white !important;
  }

  .customButton {
    box-shadow: 0 0 10px 2px rgb(109, 4, 238) !important;
  }

  #down-home {
    background-image: linear-gradient(20deg,rgba(105, 11, 66, 1),rgba(152, 26, 100, 1),rgba(199, 79, 75, 1),rgba(181, 91, 46, 1));

 margin: auto;
  }

  h1 {
    font-size: 60px;
    margin: auto auto;
    line-height: 78px;
    font-weight: 400 !important;
    text-transform: uppercase;
  }
  .main-div{
    width: 55%;
    margin:70px auto;
  }
  .main-p{
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  color: #ffffff;
}
  @media (max-width:787px) {
    h1 {
      font-size: 36px !important;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px !important;
    }

    .customButton {
      padding: 10px !important;
    }

    .main-flex {
      flex-direction: column;
    }

    .last-flex {
      width: 100% !important;
    }

    .inner-flex,
    .double-flex {
      width: 100%;
    }

  }

  @media(max-width:600px) {
    h1 {
      font-size: 28px !important;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 22px !important;
    }

    .customButton {
      padding: 5px !important;
    }

    .game-item__thumb {
      margin: auto auto;
    }

    .game-inner-h4 {
      margin: auto auto !important;
    }
  }
</style>
<br><br><br>
<section class="bannerSp">

  <div style="margin-top: 25px !important;" class="container">
<div class="main-div">
  <h1 style="text-align: center; color: white;">
      Welcome to the Game Vault, where your casino business <span style="color: rgba(253, 185, 47, 1);"> FINALLY </span>
      comes to succeed!
    </h1>
    <br>
    <p class="main-p">
      We’re a creative team of committed professionals and a fast-growing online casino software provider with the
      skills to level up your casino business.
    </p>
    <p class="main-p">
      Our innovative, globally-featured products are the backbone of reputable online casinos. 
    </p>
    <br>
    <p class="main-p">
      Secure your casino’s success - <span style="color: rgba(253, 185, 47, 1);"> Team up with game vault 777 now! </span>  
    </p>
</div>
    
</section>
<br><br>



<section class="container home">



  <div>
    <div style="width: 100%;position: relative;">
      <div style="display: flex; align-items: center; ">
        <div>
          <img src="/static/img/Fire.png" alt="fire">
        </div>
       <h2 style="font-weight: 700; text-align: left; margin: auto 0;">
        <span style="color:#FFB80D;"> Most Popular</span> Games
      </h2>
      </div>
     
      <div class="owl-carousel">
     
          <div class="game-item">
            <div class="game-inner">
              <div class="game-item__thumb">

                <img src="/static/img/pic.png" alt="none">
              </div>
              <div class="game-content">
                <h4 class="game-inner-h4">Meteor Shower</h4>
              </div>

            </div>

          </div>
          <div class="game-item">
            <div class="game-inner">
              <div class="game-item__thumb">

                <img src="/static/img/pic.png" alt="none">
              </div>
              <div class="game-content">
                <h4 class="game-inner-h4">Meteor Shower</h4>
              </div>

            </div>

       
        </div>
        <div class="game-item">
          <div class="game-inner">
            <div class="game-item__thumb">

              <img src="/static/img/pic.png" alt="none">
            </div>
            <div class="game-content">
              <h4 class="game-inner-h4">Meteor Shower</h4>
            </div>

          </div>

        </div>
        <div class="game-item">
          <div class="game-inner">
            <div class="game-item__thumb">

              <img src="/static/img/pic.png" alt="none">
            </div>
            <div class="game-content">
              <h4 class="game-inner-h4">Meteor Shower</h4>
            </div>

          </div>

     
      </div>  <div class="game-item">
        <div class="game-inner">
          <div class="game-item__thumb">

            <img src="/static/img/pic.png" alt="none">
          </div>
          <div class="game-content">
            <h4 class="game-inner-h4">Meteor Shower</h4>
          </div>

        </div>

      </div>
      <div class="game-item">
        <div class="game-inner">
          <div class="game-item__thumb">

            <img src="/static/img/pic.png" alt="none">
          </div>
          <div class="game-content">
            <h4 class="game-inner-h4">Meteor Shower</h4>
          </div>

        </div>

   
    </div>
          
    </div>
  
   <div class="view-div" style="background-color: rgba(69, 41, 92, 1); border-radius: 5px;">
      <a style="text-decoration: none;" href="/games">
        <p style=" padding: 10px 0; text-align: center; color: white; text-transform: uppercase; font-size: 16px;">View all <img src="/static/img/Arrow.png" alt="arrow"></p> 
  </a> </div>
  </div>
  <div class="container">
    <div class="divider"></div>
  </div>
  <div class="main-flex">
    <div class="inner-flex">
      <div  class="inner-img-divv">
        <img src="/static/img/focus.png" width="62px" height="68px" alt="mountain_flag">
      </div>
      <div>
        <h3 style="text-transform: none !important; font-size: 28px;">
          We are Dedicated to Helping You Succeed
        </h3>
      </div>
      <div>
        <p class="home__paragraph">
          As a certified and licensed business, game vault 777 casino software provider ensures that you achieve
          sustainable growth in regulated markets. We use years of experience, research, advanced resources, and
          qualified
          experts to help your business growth.
        </p>
      </div>
    </div>

    <div class="inner-flex">
      <div class="inner-img-divv">
        <img src="/static/img/comp.png" width="62px" height="68px" alt="growth">
      </div>
      <div>
        <h3 style="text-transform: none !important; font-size: 28px;">
          Use Advanced Tools to Grow Your Casino </h3>
      </div>
      <div>
        <p class="home__paragraph">
          Expect advanced gamification tools to engage and boost gameplay, incredible features, and mechanisms to boost
          player loyalty. game vault online casino software provides in-depth business information for effective
          analysis.
        </p>
      </div>
    </div>

    <div class="inner-flex">
      <div class="inner-img-divv">
        <img src="/static/img/player.png" width="62px" height="68px" alt="growth">
      </div>
      <div>
        <h3 style="text-transform: none !important; font-size: 28px;">
          Boost Your Player Engagement
        </h3>
      </div>
      <div>

        <p class="home__paragraph">
          Our multi-level games, like the Michael Jackson slot machine and innovative bonus systems, will keep your
          players
          on the edge of their seats!
        </p>
      </div>
    </div>

  </div>
  <div class="main-flex">
    <div class="inner-flex">
      <div class="inner-img-divv">
        <img src="/static/img/golf.png" width="62px" height="68px" alt="growth">
      </div>
      <div>
        <h3 style="text-transform: none !important; font-size: 28px;">
          <h3 style="text-transform: none !important; font-size: 28px;">
            Get an Omni-Channel Experience
          </h3>
        </h3>
      </div>
      <div>

        <p class="home__paragraph">
          game vault 777 casino software provider offers cross-platform solutions so that your players can experience
          premium gambling whenever and wherever. They can use a single account across numerous mobile devices.
        </p>
      </div>
    </div>

    <div class="inner-flex">
      <div class="inner-img-divv">
        <img src="/static/img/Settings.png" width="62px" height="68px" alt="encrypted">
      </div>
      <div>

        <h3 style="text-transform: none !important; font-size: 28px;">
          game vault 777 Offers Easy Integration
        </h3>
      </div>
      <div>
        <p class="home__paragraph">
          Thanks to our advanced API, you can easily integrate our casino software into your platform in a few days.
        </p>
      </div>
    </div>

    <div class="inner-flex">
      <div class="inner-img-divv">
        <img src="/static/img/time.png" width="62px" height="68px" alt="dice">
      </div>
      <div>
        <h3 style="text-transform: none !important; font-size: 28px;">
          Our Games are Optimized for Mobile Devices
        </h3>
        </h3>
      </div>
      <div>

        <p class="home__paragraph">
          We provide top-tier HTML5 casino games tailored for mobile devices. Regardless of the games you integrate into
          your casino, the game vault Casino apk is optimized for numerous devices.
        </p>
      </div>
    </div>

  </div>
  <br>
   <div class="view-div" style="background-color: rgba(69, 41, 92, 1); border-radius: 5px;">
       <a style="text-decoration: none;" href="/games"> <p style=" padding: 10px 0; text-align: center; color: white; text-transform: uppercase; font-size: 16px;">Register now <img src="/static/img/Arrow.png" alt="arrow"></a></p> 
   </div>
  <!-- <div style="width: 98%;" class="inner-flex last-flex">
    <div>
      <img src="/static/img/Search.png" width="62px" height="68px" alt="search">
    </div>
    <div>

      <h3 style="text-transform: none !important; font-size: 28px;">
        game vault 777 Ensures Responsible Gaming
      </h3>
      </h3>
    </div>
    <div>


      <p class="home__paragraph">
        We provide transparency to create fair and responsible games under strict regulations.
      </p>
    </div>
  </div> -->
  <div class="container">
    <div class="divider"></div>
  </div>

  <!-- <div class="home__paragraphs">

      <a class="text-white " style="text-decoration: none;" href="/">
        <button class="customButton" style="font-size: 16px; color: #ffffff;
       padding: 15px;
        font-weight: 900;
         background: rgba(218, 51, 10, 1);
          border: none; border-radius: 5px;">
          Sign Up Now!
        </button>
      </a>
    </div> -->
<div style="background-color: #2B153C; padding: 105px 0;">
  <div >
    <div style="width: 100%;">
      <h2 style="text-align: center;" class="home__content">
        <div> Secure Your Platform to Attract More Players</div>
      </h2>
      <p style="text-align: center; color: #ffffff;" class="home__paragraph">
        One of the major risk players, especially new ones, watch out for is security threats. game vault 777 helps to
        avoid this risk in several ways:
      </p>
    </div>

    <div style="display: flex; justify-content: center; flex-direction: column;">
      <a class="text-white " style="text-decoration: none; text-align: center;" href="#landingContact-Text">
        <button class="customButton" style="font-size: 16px; color: rgb(0, 0, 0);
       padding: 10px 20px;
        font-weight: 900;
        background: #FDB92F;
          border: none; border-radius: 5px;">
          Register Now
        </button>
      </a>
    </div>
 
  </div>
  <br>
  <div class="outer-flex">
    
    <div class="double-flex">
      <div class="inner-img-div">
        <div>
           <img src="/static/img/Support.png" alt="support">
        </div>
       
      </div>
      <h3 style="text-transform: none !important; font-size: 28px;">

        game vault 777 Offers 24/7 Global Support
      </h3>
      <p class="home__paragraph">
        We’re always available to give you the support you need for your casino business to run smoothly. Our support
        team
        will help you resolve any issues as soon as possible to help your business succeed!

      </p>
    </div>
    <div class="double-flex">
      <div class="inner-img-div">
        <div>
           <img src="/static/img/pay.png" alt="support">
        </div>
       
      </div>
      <h3 style="text-transform: none !important; font-size: 28px;">
        Get Advanced Security Protocols

      </h3>
      <p class="home__paragraph">

        We place a high priority on keeping your online casino safe for you and your players. We’re constantly upgrading
        our security protocols to secure your business.
      </p>
    </div>
    <div class="double-flex">
      <div class="inner-img-div">
        <div>
           <img src="/static/img/monitor.png" alt="support">
        </div>
       
      </div>
      <h3 style="text-transform: none !important; font-size: 28px;">

        game vault 777 Constantly Monitors Threat
      </h3>
      <p class="home__paragraph">

        We continuously watch out for threats to secure your casino business so you can focus on what really matters -
        your players’ experience.
      </p>
    </div>
    <div class="double-flex">
      <div class="inner-img-div">
        <div>
           <img src="/static/img/Security.png" alt="support">
        </div>
       
      </div>
      <h3 style="text-transform: none !important; font-size: 28px;">

        We Offer Easy Payment System
      </h3>
      <p class="home__paragraph">
        game vault Online Casino software provider Integrates various payment methods to let your players enjoy
        ultra-fast deposit and cashout features. Players can easily make payments when they use the game vault 777
        casino
        download.

      </p>
    </div>

  </div>
</div>
  




</section>
<section >
  <section  class="container home">
    <div id="down-home" style="padding: 20px 0;">

    
    <div style="padding: 15px auto; margin: 45px auto;">

      <h2 style="text-align: center  !important; text-transform: uppercase;" class="home__content">
        <div>
          Let GAme Vault Help You Grow Your Casino Business
      </h2>
      <div class="home__paragraphs">
        <p style="text-align: center !important;" class="home__paragraph">
          We have the necessary resources to ensure that you attract more players, retain players, and grow your brand.
          Register today and get access to hundreds of game libraries, effective client management tools, and marketing
          tools to boost your new business.
        </p>
        <!-- <p class="home__paragraph">
      
      
    </p> -->
        <div style="text-align: center;">
          <a class="text-white " style="text-decoration: none;" href="#landingContact-Text">
            <button class="customButton" style="font-size: 16px; color: #ffffff;
     padding: 15px;
      font-weight: 900;
      background: #45295C;
        border: none; border-radius: 5px;">
              Register Now
            </button>
          </a>
        </div>
      </div>
</div>

  </section>
</section>


<div class="container panelGroup">
  <div class="row">
  



  </div>
</div>
<!-- <script src="/static/js/lazyYoutube.js"></script> -->

<!-- <script>

  function init() {
  var vidDefer = document.getElementsByTagName('iframe');
  for (var i=0; i<vidDefer.length; i++) {
  if(vidDefer[i].getAttribute('data-src')) {
  vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
  } } }
  window.onload = init;
  
  </script> -->



{% endblock %}