{% extends 'base.html' %} {% load static %}
{% block title %}
<title>Spartacus</title>
<meta name="keywords" content="gamevaultcasino Casino">
<meta name="description"
    content="The game vault 777's FAQs page answers your most frequently asked questions about software and other casino-related topics.">
<meta name="author" content="gamevaultcasino Casino">
{% endblock title %}{% block content %}
<style>

 .view-div p a img{
  transform: rotate(90deg);
 }
  .dis-none{
    display: none;
  }
    .view-div:hover{
    box-shadow: 0 0 10px #FDB92F;
  }
  .view-div:hover>p>a{
color:#FDB92F ;
  }
  .view-div:hover>p>a>img{

filter: drop-shadow(0px 0px #FDB92F );
  }
  .view-div{
    cursor: pointer;
  }
        .bannerSp{
			background-image: url(/static/img/PinkAbout.webp);
            min-height: 350px !important;
		}
        .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none !important;
}
        .panel-group .panel{
            background-color: #45295C!important;
            position: relative;
            /* border-radius: 20px; */
        }
        /* .panel-group .panel::after{
            position: absolute;
            top: 0%;
            height: 100%;
            z-index: 100;
            width: 0.7%;
            content: "";
            background-color: #03CBFD;
            border-top-left-radius: 100%;
            border-bottom-left-radius: 100%;
            left: 0%;
        } */

        .panelGroup__heading h4{
        color: #FFB80D !important;
  
        }
        .panelGroup__heading .shorter__sp{
            font-weight: 600 !important;
        }
        @media (min-width:1192px) {
            .panelGroup{
                width: 76.8%;
            }
        }
        .moving{
      -webkit-animation-name: accordionIn;
      -webkit-animation-duration: 0.65s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-fill-mode: both;
      -webkit-animation-delay: 0s;
      -moz-animation-name: normal;
      -moz-animation-duration: 0.65s;
      -moz-animation-iteration-count: 1;
      -moz-animation-direction: alternate;
      -moz-animation-timing-function: ease-in-out;
      -moz-animation-fill-mode: both;
      -moz-animation-delay: 0s;
      animation-name: accordionIn;
      animation-duration: 0.65s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      animation-delay: 0s;
          /* animation: 1s move linear; */
        }
        @keyframes move{
          0%{
            transform: translateY(0%);
         
  
          }50%{
            transform: translateY(1.2%);
         
          }100%{
            transform: translateY(0%);
         
          }
        }
        @-webkit-keyframes accordionIn {
      0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
      }
      100% {
        opacity: 1;
        -webkit-transform: scale(1);
      }
    }
    @-moz-keyframes accordionIn {
      0% {
        opacity: 0;
        -moz-transform: scale(0.8);
      }
      100% {
        opacity: 1;
        -moz-transform: scale(1);
      }
    }
    @keyframes accordionIn {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    @-webkit-keyframes accordionOut {
      0% {
        opacity: 1;
        -webkit-transform: scale(1);
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(0.8);
      }
    }
    @-moz-keyframes accordionOut {
      0% {
        opacity: 1;
        -moz-transform: scale(1);
      }
      100% {
        opacity: 0;
        -moz-transform: scale(0.8);
      }
    }
    @keyframes accordionOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0.8);
      }
    }
</style>
<br><br>
<section class="bannerSp">
			 
    <div style="margin-top: 25px !important;" class="container">
        <div class="text-white text-center h1">
            <h1 class="Headh1" style="color: #FFB80D; font-size: 48px; line-height: 56px; font-weight: 900;">
              Spartacus
            </h1>
        </div>
    </div>
    </section>
    <br><br><br>
  <div class="container">
   <h2>
    Spartacus
   </h2>
<div>
   <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolor magni laboriosam explicabo libero pariatur.
   </p>
   <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolor magni laboriosam explicabo libero pariatur.
   </p>
   <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolor magni laboriosam explicabo libero pariatur.
   </p>
</div>
<div class="dis-none">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga dicta voluptatem minima cumque inventore eaque!</p>
  <p>Consequuntur, necessitatibus eveniet laboriosam error perferendis illo tempore minus provident, ipsam mollitia praesentium pariatur fugit.</p>
  <p>Voluptatibus doloremque earum quaerat amet repellat perferendis? Alias laborum eos sequi modi ad impedit sed.</p>
  <p>Sapiente quaerat recusandae nesciunt animi consequuntur! Tempore quod unde repellat nisi omnis hic sed aspernatur!</p>
  <p>Est totam et nam quod ullam magnam illo necessitatibus aut, nobis quo ea odio in?</p>
</div>
  
   <div class="view-div" style="background-color: rgba(69, 41, 92, 1); border-radius: 5px;">
    <a style="text-decoration: none;"> <p  style=" padding: 10px 0; text-align: center; color: white; text-transform: uppercase; font-size: 16px;"> <span class="changed-text">show more </span> <img class="changed-img" src="/static/img/Arrow.png" alt="arrow"></a></p> 
</div>
  </div>

</div>
<br><br><br>
<div style="text-align: center;" class="container">
  <div style="width: 100%;">
     <img width="80%" src="/static/img/bluedragon_1_mockup.png"  alt="spartacus">
  </div>

 </div>
 <br><br><br>
<script>
  let btn=document.querySelector(".view-div")
  let closdText=document.querySelector(".dis-none")
  let changedText=document.querySelector(".changed-text")
  let changedImg=document.querySelector(".changed-img")
  btn.addEventListener("click",()=>{
    if (closdText.style.display!="block"){
      closdText.classList.add("moving")
      closdText.style.display="block"
      changedText.innerText="show less"
      changedImg.style.transform="rotate(270deg)"
      

}else if(closdText.style.display="block"){
closdText.style.display="none"
changedText.innerText="show more"
changedImg.style.transform="rotate(90deg)"
}
  })
</script>
{% endblock %}
